<% include admin-nav  %>

<div class="form-v9">
    <div class="page-content">

        <div class="form-v9-content" style="background-image: url('/images/form_4.jpg')">
            <center>
                <br><br>
                <h2 style="color: black">Add Sub Category Here!!!!</h2>
                <form method='post' class="form-detail" enctype="multipart/form-data" action='/admin/addsubcat'>
                <font color="green"><%= output %></font><br><br>

                    <table cellspacing='10'>
                        <tr>
                            <td style="color: black">Category Name</td>
                            <td>
                                <select style="width:230px;" name="catnm">
                                    <option>select category</option>
                                    <% for(let i in clist) { %>
                                    <option><%= clist[i].catnm %></option>
                                    <% } %>
                                </select>


                            </td>
                        </tr>
                        <tr>
                            <td style="color: black">Sub Category Name</td>
                            <td><input type="text" name="subcatnm" placeholder="Enter Category Name" /></td>
                        </tr>
                        <tr>
                            <td style="color: black">Sub Category Icon</td>
                            <td><input type="file" name="caticon" /></td>
                        </tr>
                        <tr>
                            <td><input type='submit' class="register" style="color: black" value='Add' /></td>
                        </tr>
                    </table>
                </form>
            </center>


            <br class="clearfix" />
        </div>
    </div>
</div>



<% include footer %>